:root {
  --error-shade: rgb(255,200,200);
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1.0rem;
  grid-template-columns: 1fr min(45rem,95%) 1fr;
}

ol {
  padding-left: 1.5rem;
}

textarea {
  font-size: 1em;
  line-height: 1.2em;
  height: 4.7em;
}

/* Remove number input arrows on Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove number input arrows on Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

table input, table label {
  margin: 0;
  text-align: center;
}

textarea, input {
  width: 100%;
}

form {
  display: grid;
  grid-template-columns: 9rem min(15rem, calc(100% - 9rem)) 1fr;
}

form > label {
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
}

#invoice-form > .error {
  grid-column: 1 / 3;
  display: flex;
}

#invoice-form > input:has(+ .error),
#invoice-form > textarea:has(+ .error) {
  background-color: var(--error-shade);
}

.error-cell > input {
  background-color: var(--error-shade);
}

table {
  grid-column: 1 / 4;
  margin: 1rem 0;
}

form textarea, form input {
  margin: 0.25rem 0;
}

#add-remove-button-box {
  display: grid;
  grid-template-columns: 5rem 5rem 1fr;
  column-gap: 0.5rem;
}

.table-error + #add-remove-button-box {
  margin-top: 1.5rem;
}

#add-remove-button-box > button {
  grid-column: auto / span 1;
  font-size: 1.5rem;
}

#form-button-box {
  display: grid;
  grid-template-columns: min(24rem,100%) 1fr;
}

#form-button-box > * {
  grid-column: 1 / span 1;
}

.error {
  color: red;
  font-weight: bold;
  text-align: center;
}

.table-error {
  color: red;
  font-weight: bold;
}

#form-submit {
  display: none;
}
