{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <script src="{{ url_for('static', filename='scripts.js') }}"></script>
{% endblock head %}

{% block content %}
  {{ super() }}

  <details>
    <summary>How to use</summary>
    <ol>
      <li>Fill out the form: all fields are required except for the buyer's details.
          Alternatively, populate with demo data for testing.</li>
      <li>Click the 'Generate' button to create the invoice. It will open in a new tab or window.</li>
      <li>Print the invoice to paper or PDF. Choose the 'fit to page width' option in the print dialog.</li>
    </ol>
  </details>

  <form action="" method="post" id="invoice_form" onreset="removeAllAddedRows()" target="_blank">
    {{ form.csrf_token }}
    {% for field in form.info %}
      {{ field.label }} {{ field(class="clearable") }}
    {% endfor %}

    <table>
      <thead>
        <tr>
          {% for field in form.items[0] %}
            <th>{{ field.label }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody id="item_table">
        <tr>
          {% for field in form.items[0] %}
            <td>{{ field(class="clearable") }}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </form>
  <div id="add-remove-button-box">
    <button type="button" onclick="addRow()">+</button>
    <button type="button" onclick="removeRow()">−</button>
  </div>
  <div id="form-button-box">
    <input type="reset" value="Use demo values" form="invoice_form">
    <button type="button" onclick="clearForm()">Clear form</button>
    <input type="submit" value="Generate" form="invoice_form">
    <div id="error-message"></div>
  </div>

{% endblock content %}

{% block footer %}
  <a href="https://github.com/e-mit/vat-invoice">View the source code on GitHub</a>
  <br><br>
  <div>Please note: this website is provided for educational purposes only.</div>
  <div>The generated invoices may not comply with applicable law.</div>
  {{ super() }}
{% endblock footer %}