{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <script src="{{ url_for('static', filename='scripts.js') }}"></script>
{% endblock head %}

{% block content %}
  {{ super() }}

  <details>
    <summary>How to use</summary>
    <ol>
      <li>Fill out the form: all fields are required except for the buyer's details.
          Alternatively, populate with demo values for testing.</li>
      <li>Click the 'Generate' button to create the invoice. It will open in a new tab or window.</li>
      <li>Print the invoice to paper or PDF. Choose the 'fit to page width' option in the print dialog.</li>
    </ol>
  </details>

  <form action="" method="post" id="invoice-form" onreset="removeAllAddedRows()"
  {% if open_in_new_tab %}target="_blank"{% endif %}>
    {{ form.csrf_token }}

    {% for field in form.info %}
      {{ field.label }} {{ field(class="clearable") }}
      {% for error in field.errors %}
        <div class="error">{{ error | e }}</div>
      {% endfor %}
    {% endfor %}

    <table>
      <thead>
        <tr>
          {% for field in form.items[0] %}
            <th>{{ field.label }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody id="item-table">
        {% for item in form.items %}
          <tr>
            {% for field in item %}
              <td {% if field.errors %}class="error-cell"{% endif %}>{{ field(class="clearable") }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>

  {% for item in form.items %}
    {% for field in item %}
      {% for error in field.errors %}
        <div class="table-error">{{ error | e }}</div>
      {% endfor %}
    {% endfor %}
  {% endfor %}

  <div id="add-remove-button-box">
    <button type="button" onclick="addRow()">+</button>
    <button type="button" onclick="removeRow()">−</button>
  </div>

  <div id="form-button-box">
    <button onClick="window.location.href=window.location.href">Use demo values</button>
    <button type="button" onclick="clearForm()">Clear form</button>
    <input type="submit" value="Generate" form="invoice-form">
    <div class="error" id="error-message"></div>
  </div>

{% endblock content %}

{% block footer %}
  <a href="https://github.com/e-mit/vat-invoice">View the source code on GitHub</a>
  <br><br>
  <div>Please note: this website is provided for educational purposes only.</div>
  <div>The generated invoices may not comply with applicable law.</div>
  {{ super() }}
{% endblock footer %}